# Copia este archivo como .env y completa los valores

# PostgreSQL — Railway provee DATABASE_URL automáticamente al agregar el plugin
# Si no usas DATABASE_URL, completa las variables individuales:
DB_HOST=localhost
DB_PORT=5432
DB_NAME=asistencia_db
DB_USER=postgres
DB_PASSWORD=postgres123
# DATABASE_URL=postgresql://user:password@host:5432/dbname

# MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?appName=Cluster0

# JWT — usa un secreto largo y aleatorio en producción
JWT_SECRET=cambia_esto_por_un_secreto_muy_largo_y_aleatorio
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
NODE_ENV=production

# CORS — pon la URL de Railway una vez que la tengas
CORS_ORIGIN=https://tuapp.railway.app
