# Copia este archivo como .env y completa los valores

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=asistencia_db
DB_USER=postgres
DB_PASSWORD=postgres123

# JWT
JWT_SECRET=asistudp_secret_muy_seguro_2024
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
